@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "yekan";
    src: url("./fonts/BYekan+.ttf"),url("./fonts/BYekan+\ Bold.ttf");
}

*{
    direction: rtl;
    font-family: "yekan";
}

/* moods */
.moods{
    width: 100vw !important;
    display: grid;
    grid-template-rows: 1fr;
    overflow-x: scroll;
    grid-auto-flow: column;
    scrollbar-width: 60px;
}
/* scrollbar */
::-webkit-scrollbar{
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
    border: .2px solid #27272a;
    margin: 0 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #3f3f46;
}

.z-1000 { 
    z-index: 1000 !important;
}