@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "yekan";
    src: url("./fonts/BYekan+.ttf"),url("./fonts/BYekan+\ Bold.ttf");
}

*{
    direction: rtl;
    font-family: "yekan";
}

/* moods */
.moods{
    width: 100vw !important;
    display: grid;
    grid-template-rows: 1fr;
    overflow-x: scroll;
    grid-auto-flow: column;
}